<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./Tests/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">

<testsuites>
  <testsuite name="InflexibleBundle">
    <directory suffix="Test.php">./Tests</directory>
  </testsuite>
</testsuites>

<filter>
  <whitelist>
    <directory>./</directory>
    <exclude>
      <directory>./Tests</directory>
      <directory>./vendor</directory>
    </exclude>
  </whitelist>
</filter>
</phpunit>
